@tailwind base; 
@tailwind utilities; 
@tailwind components; 


@layer components{
  /* .hero-bg-cover{
    background-image:url("./assets/pasted_graphic_world.png"); 
    background-origin:100% 100%; 
    background-size: contain;  
    /* position:absolute; 
    bottom:0; 
    right:0;  */
    /* height:100%; 
    flex:1; 
    width:100%; 
    background-repeat: no-repeat;  
  } */ 

  .hero-bg-image{
    background-image:url("./assets/pasted_graphic_world.png"); 
    background-size: contain; 
    background-repeat:no-repeat; 
    background-position:100% 100%;  
  }

  .glass-blur::before{
    content:''; 
    height:100px; 
    width:100px; 
    position:absolute; 
    bottom:0; 
    left:0; 
    border-radius:50%; 
    z-index:-1;  
    transform:translate(-25%, 50%);  
    background:#0dba4b; 
    border:2px solid white; 
  }

  .glass-blur::after{ 
    content:''; 
    height:100px; 
    width:100px; 
    position:absolute; 
    top:0;  
    right:0;  
    border-radius:50%; 
    z-index:-1;  
    transform:translate(50%, 50%);   
    background:#0dba4b; 
    border:2px solid white; 
  }

  .blur-blob{  
    height:100px; 
    width:100px; 
    position:absolute; 
    border-radius:50%; 
    /* z-index:-1;     */
    background:rgb(207,241,219);   
    /* border:2px solid white; */
  }

  .blur-blob-1{
    top:0;  
    right:0;
    transform:translate(50%, 50%); 
    transform:scale(2);   
  }

  .blur-blob-2{
    bottom:0; 
    left:0;
    transform:translate(-25%, 30%);  
  }

  .blur-blob-3{
    bottom:0%;    
    left:70%; 
    transform:translate(30%, 30%);  
  }

  .glass-blur{
    position:absolute; 
    left:0; 
    top:0; 
    height:100%; 
    width:100%; 
    z-index:-10; 
  }

  .footer .navlinks a{ 
    @apply text-white font-semibold font-inter text-sm; 
  }

  .footer .social{
    @apply flex gap-x-3 mt-4;  
  }

  .footer .social i{
    @apply text-white cursor-pointer p-3;
  }


}

html{
  scroll-behavior: smooth; 
}

.neomorphic{
  box-shadow:-5px -5px 10px rgba(255,255,255,.5),  
              5px 5px 10px rgba(0,0,0,.5); 
}

.neomorphic-inward{
  box-shadow:inset -2px -2px 5px rgba(255,255,255,.5),  
              inset 2px 2px 5px rgba(0,0,0,.5); 
}

.PhoneInputInput{
  @apply px-4 py-1 rounded-md outline-none border-none border-black mx-1;     
}

.paper-texture-bg{
  background:/* linear-gradient(rgba(66, 228, 66, 0.3), rgba(66, 228, 66, 0.4)),*/ url("./assets/white-paper-texture.jpg") ; 
  background-size: cover;  
  height:max-content; 
}

.login-simple-white-paper{
  background:url("./assets/white-simple-textured-design-background.jpg"); 
}

.left-vector-line{
  background-image: url("./assets/vector_left.png") ;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position:50% 70%; 
}

.right-vector-line{
  background-image: url("./assets/vector_right.png") ;
  background-size: contain;
  /* height:100%;  */
  /* width:100%;  */
  background-repeat: no-repeat; 
  background-position:50% 70%; 
}


.abc{
  background:#27e36c; 
}

.blog-markdown h1{ 
  font-size:2rem; 
  /* font-weight:800;   */ 

}

.blog-markdown h2{
  font-size:1.7rem;  
  /* font-weight:500;  */
  color:#101010;  
}

.blog-markdown h3{
  font-size:1.5rem; 
  /* font-weight:500;  */
}

.blog-markdown ul{
  margin-block:1rem;
}

.blog-markdown li{
  list-style-type: disc;
  list-style:disc; 
  padding-inline:1rem; 
  margin-block:1rem;
  line-height:1.5;  
}

.blog-markdown h2{
  margin-top:2rem; 
  margin-bottom:1rem; 
}

.blog-markdown h4{
  margin-block:1rem; 
  font-size:1.1rem; 
  font-weight:500;  
}

.blog-markdown center{ 
  text-align:center; 
}

.blog-markdown p{
  margin-block:1rem; 
}


