@tailwind base; 
@tailwind utilities; 
@tailwind components; 


@layer components{
  /* .hero-bg-cover{
    background-image:url("./assets/pasted_graphic_world.png"); 
    background-origin:100% 100%; 
    background-size: contain;  
    /* position:absolute; 
    bottom:0; 
    right:0;  */
    /* height:100%; 
    flex:1; 
    width:100%; 
    background-repeat: no-repeat;  
  } */ 

  .hero-bg-image{
    background-image:url("./assets/pasted_graphic_world.png"); 
    background-size: contain; 
    background-repeat:no-repeat; 
    background-position:100% 100%;  
  }

  .glass::before{
    content:''; 
    height:100px; 
    width:100px; 
    position:absolute; 
    bottom:0; 
    left:0; 
    border-radius:50%; 
    z-index:-1;  
    transform:translate(-25%, 50%);  
    background:#0dba4b; 
    border:2px solid white; 
  }

  .glass::after{ 
    content:''; 
    height:100px; 
    width:100px; 
    position:absolute; 
    top:0;  
    right:0;  
    border-radius:50%; 
    z-index:-1;  
    transform:translate(50%, 50%);   
    background:#0dba4b; 
    border:2px solid white; 
  }

  .glass{
    /* background:#0dba4b;   */
    z-index:10; 
  }

  .glass-blur{
    position:absolute; 
    left:0; 
    top:0; 
    height:100%; 
    width:100%; 
  }

  .footer .navlinks a{ 
    @apply text-white font-semibold font-inter text-sm; 
  }

  .footer .social{
    @apply flex gap-x-3 mt-4;  
  }

  .footer .social i{
    @apply text-white cursor-pointer p-3;
  }


}

.neomorphic{
  box-shadow:-5px -5px 10px rgba(255,255,255,.5),  
              5px 5px 10px rgba(0,0,0,.5); 
}

.neomorphic-inward{
  box-shadow:inset -2px -2px 5px rgba(255,255,255,.5),  
              inset 2px 2px 5px rgba(0,0,0,.5); 
}

